<div class="main-cnt" >

    <div class="web-name">
        <img src="./assets/back.png" class="back" routerLink="/main/home">
        <p class="name">FEKKAI</p>
    </div>
    
            <img src="./assets/maxresdefault.png" class="image">
            <div class="blog-txt">
                <span>BLOG</span>
            </div>
            <div class="content">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>
        

    
</div>