<!-- <div class="main-cnt">

    <div class="nav-bar">
        <p class="nav-shop" routerLink= "/shop" >Shop</p>
        <p class="nav-blog" routerLink="/blog" >Blog</p>
        <p class="nav-commitment" routerLink="/commitment" routerLinkActive="active">Commitment</p>
        <div class="web-name">
            <span class="name">FEKKAI</span>
        </div> 
    </div>
    
</div> -->
<div (resized)="onResized($event)" class="main-cnt">
    <button (click) = "colepsbtnOn()" style="visibility: hidden;">coleps</button>
    <div class="nav-bar">
        <p class="nav-shop" routerLink= "/shop" >Shop</p>
        <p class="nav-blog" routerLink="/blog" >Blog</p>
        <p class="nav-commitment" routerLink="/commitment" routerLinkActive="active">Commitment</p>
        <div class=" navbar-brand web-name">
            <span class="name">FEKKAI</span>
        </div> 
    </div>
    
</div>