<div class="main-cnt">
    <div class="hashtag">
        <div class="back">
            <img src="./assets/back.png" class="back-btn" routerLink="/main/home">
        </div>
        <span class="fl-text">#FOLLOW</span>
        <span class="yr-text">YOUR</span>
        <span class="hr-text">HAIR</span>
    </div>
    <div class="images" >
        <img src="./assets/screenshot.png" class="scrshot">
        <img src="./assets/valerie.png" class="valerie">
        <img src="./assets/Image1.png" class="image1">
        <img src="./assets/beautyhair.png" class="beautyhair">
        
    </div>
    <div>
        <button class="btn">SEE MORE</button>
    </div>
</div>
